.input {
  width: fit-content;

  input {
    outline: none;
    padding-inline: 8px;
    color: var(--primary-color);
    border: none;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }
}
